<?xml version="1.0" encoding="UTF-8"?>
<Server port="8100" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="jdbc/employees"
              auth="Container"
              type="javax.sql.DataSource"
              username="test"
              password="password"
              driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://localhost/employees"
              maxTotal="4"
              maxIdle="1"/>
  </GlobalNamingResources>

  <Service name="Catalina">

    <Connector port="8101" protocol="HTTP/1.1" connectionTimeout="20000"/>
			   
    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.DataSourceRealm"
               dataSourceName="jdbc/employees"
               userTable="users" userNameCol="user_name" userCredCol="user_pass"
               userRoleTable="user_roles" roleNameCol="role_name"/>
      </Realm>

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">
			
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

      </Host>
    </Engine>
  </Service>
</Server>
